button {
  letter-spacing: 0.15em;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.6s;
  &:hover {
    filter: drop-shadow(0 0 5px #777);
    
  }
}
 
.loginBtn {
  display: block;
  width: 30%;
  margin: 2em auto 0;
  padding: 1em 0;
  border: none;
  border-radius: 16px;
  background-color: var(--main-color);
  color: var(--white);
}
.alterBtn {
  composes: loginBtn;
  border: 1px solid var(--main-color);
  /* background-color: #fff;
  color: var(--main-color); */
  margin: 1em auto 0;
}
.registerBtn {
  composes: loginBtn;
  border: 1px solid var(--main-color);
  margin: 1em auto 0;
}
.cancelBtn {
  composes: loginBtn;
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
  margin: 1em auto 0;
}
.logout {
  composes: loginBtn;
}
.deleteBtn {
  composes: registerBtn;
}