button {
  letter-spacing: 0.15em;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.6s;
  &:hover {
    filter: drop-shadow(0 0 3px #555);
  }
}
.loginBtn {
  display: block;
  width: 150px;
  margin: 4em auto 0;
  padding: 1em 0;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white);
}
.alterBtn {
  composes: loginBtn;
  border: 1px solid var(--main-color);
  /* background-color: #fff;
  color: var(--main-color); */
  margin: 1em auto 0;
}
.registerBtn {
  display: block;
  width: 150px;
  padding: 1em 0;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white);
  margin-top: 2em;
  border: 1px solid var(--main-color);
  margin: 1em auto 0;
}
.cancelBtn {
  display: block;
  width: 150px;
  padding: 1em 0;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
  margin: 1em auto 0;
}
.logout {
  composes: loginBtn;
}
.deleteBtn {
  composes: registerBtn;
}
.scheduleRegisterBtn {
  
  min-width: 130px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 16px;
}
.cancelRegisterBtn {
  
  min-width: 130px;
  padding: 1em 1em;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
  font-size: 16px;
}