.wrapper {
  /* height:  */
  composes: grid-one-column-center from "./utils.module.css";
  position: relative;
}
.container {
  display: flex;
  width: clamp(330px, 31vw + 13.31rem, 580px);
  justify-self: center;
  //padding: 4.5em 0;
}
.innerContainer {
  width: 100%;
  text-align: center;
  & > * {
    margin: 1em 0;
    font-weight: 500;
    cursor: pointer;
  }
}
.flexContainer {
  column-gap: 0.5em; 
  composes: flex-center from "./utils.module.css";
  align-items: center;
}