.wrapper {
  /* height:  */
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 50px;
} 
.container {
  display: flex;
  width: clamp(330px, 31vw + 13.31rem, 580px);
  justify-self: center;
  margin-top: 2em;
  //padding: 4.5em 0;
}
form {
  width: 100%;
}
.innerContainer {
  width: 100%;
  text-align: center;
  & > * {
    margin: 1em 0;
    font-weight: 500;
    cursor: pointer;
  }
}
.flexContainer {
  display: flex;
  justify-content: center;
  column-gap: 0.5em; 
  align-items: center;
}
.button {
  cursor: pointer;
}