.container {
  position: absolute;
  box-sizing: border-box;
  min-width: max-width;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #fff;
  z-index: 999;
}

.startTimeNoEnd {
  color: blue;
}
.startTime,
.endTime {
  color: red;
}