.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  min-width: max-content;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2em;
  background-color: #fff;
  font-size: var(--s-font);
  z-index: 999;
}

.input {
  composes: input from "./input.module.css";
}
.btnContainer {
  composes: flex-center from "./utils.module.css";
}
.textarea {
  width: 100%;
  min-height: 48px;
  margin: 1em auto 0;
  padding: 0.5em;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  outline: none;
  color: var(--main-text-color);
  &:focus {
    filter: drop-shadow(0 0 5px #777);
  }
}