:root {
  /* color */
  --main-color: #3BC22F;
  --p-text: #333333;
  --white: #fff;
  /* typography */
  --s-font: 12px;
  --main-text-color: #257b1e;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li, figure, img  {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  position: relative;
  color: var(--p-text);
  letter-spacing: 0.1em;
}
button {
  letter-spacing: 0.1em;
}

/* Calendar */
.holiday {
  color: red !important;
}
.saturday {
  color: green !important;
}